.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 25px auto 10px;
  border-bottom: 1px solid #333333;
  padding-bottom: 25px;
}

.link {
  font-size: 18px;
  text-decoration: none;
  color: #333333;
}

.active {
  border-bottom: 1px solid #333;
}

.mobileContainer {
  margin-top: 15px;
  border-bottom: 1px solid #333;
}

.close {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 0;
}

.open {
  margin: 10px;
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin: 0;
  }

  .link {
    padding: 8px 20px 12px;
    border-bottom: 1px solid #333;
  }

  .active {
    font-weight: bold;
  }
}