.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
}

.label {
  display: flex;
  margin-right: 10px;
}

.bar {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.barBreak {
  position: absolute;
  background: white;
  width: 2px;
  height: 100%;
}

.progress {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  border: none;
}