.summary {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #252122;
  border-radius: 25px 25px 0 0;
  margin-bottom: 30px;
  padding-bottom: 5px;
  box-sizing: border-box;
  cursor: pointer;
  color: #333333;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.link {
  color: #333;
  text-decoration: none;
  flex: 0 0 240px;
}

.classIcon {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px 0;
}